.category {
    padding: 60px 24px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
  
.category .column {    
    padding: 0 4px;    
}

.category .column .title {
    display: block;
    text-align: center;
    padding: 32px;
    font-size: 50px;
    font-weight: 900;
    font-family: "Lato", sans-serif;
}
 
.category-item {
    position: relative;
}

.category-item img {
    width: 100%;
    height: auto;
}
  
.category-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.category-item .overlay .left {
    color: #fff;
    font-size: 30px;
}

.category-item .overlay .right img {
    width: 40px;
    height: auto;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.category-item .overlay .right img:hover {
    opacity: 1;
    transform: translateX(-8px);
}

.category.xs {
    padding: 8px 0;
}

.category.xs .category-item .overlay {
    padding: 8px;
}

.category.xs .category-item .overlay .left {
    font-size: 14px;
}

.category.xs .category-item .overlay .right img {
    width: 16px;
    opacity: 1;
}