.category-item {
    position: relative;
}

.category-item img {
    width: 100%;
    height: auto;
}
  
.category-item .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.category-item .overlay .left {
    color: #fff;
    font-size: 30px;
}

.category-item .overlay .right img {
    width: 40px;
    height: auto;
    cursor: pointer;
    opacity: 0.5;
    transition: 0.3s ease-in-out;
}

.category-item .overlay .right img:hover {
    opacity: 1;
    transform: translateX(-8px);
}